footer{
    background-color: darkgray;
    color: white;
    text-align: center;
    padding: 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    a{
        text-decoration: none;
        color:$blue;

        i{
            font-size: 30px;
        }
    }


}